
body {
    background-image: url("images/fondo.jpg");
    font-family: 'Lato', sans-serif;
}

/*header*/

header {
    background-color: rgb(2, 2, 65);
    text-align: center;
    text-justify: auto;
    height: 140px;
    box-shadow: 0px 4px 22px 0px rgba(0,0,0,0.75);
}

h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
    margin-top: 0;
    color: white;
}
h2 {
    font-weight: 300;
    font-size: 20px;
    color: white;
}
h3 {
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    padding-top: 30px;
    margin: 0;
    color: white;
}
h4 {
    text-align: center;
    text-justify: auto;
}

/*cards*/
.producto {
    border-radius: 5px;
    background-color: rgba(255,255,255,0.85);
    border: 0px;
    float: left;
    margin: 10px;
    padding: 15px;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.25);
    display: flex;
    flex-direction: column;
    
}

.producto button {
    border-radius: 15px;
 }
 
 .producto h2 {
    display: flex;
    justify-content: space-between;
    padding: 0px;
    font-weight: bold;
 }
 .producto img {
    width: 120px;
    opacity: 0.8;
 }
 .producto img:hover {
    opacity: 1;
    transform: scale(1.1);
}

/*carrito*/
#navbar {
    overflow: hidden;
    background-color: lightgrey;
  }

.carrito-completo {
    padding: 0px;
}

.carrito {
    background-color:rgba(255,255,255,0.9);
    height: 100%;
    margin: 0px;  
    padding: 0px 30px;
}
.nombre-carrito {
    color: black;
    opacity: 1;
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    padding-top: 20px;
}



.class-kilo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}

.class-kilo button {
    color: red;
    border: 0px;
    background-color: white;

}
.class-kilo p {
    margin-bottom: 0px;

}
.badge-pill {
    position: absolute;
    right: 15%;
}


.boton-provincia {
    margin: 20px 0px 20px 0px;
    background-color: crimson;
    border: 0px;
    color: white;

}
.boton-provincia:hover {
    background-color: rgb(223, 60, 92);
    border: 0px;
}

.pasoCuatro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.pasoCuatro h4 {
    text-align: left;
}

.pasoCuatro p {
    font-size: large;
    margin-bottom: 0px;
    margin-top: 4px;
    color: crimson;
    font-style: oblique;
    
}

.panel-resultado {
    text-align: center;
}

.boton-calcular {
    margin: 20px 0px 20px 0px;
}
.boton-calcular:hover {
    transform: scale(1.03);
}

.boton-mas-info {
    padding: 5px 10px;
    
}

/*footer*/

.footer {
    flex-shrink: 0;
    background: rgb(2, 2, 65);
    font-family: 'Lato', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    padding: 0px 50px;
    color: rgba(255,255,255,0.7);
  }
  
  .footer-links {
    display: flex;
    align-items: center;
  }
  .footer-links a {
    color: white;
    opacity: 0.7;
    text-decoration: none;
    font-size: 24px;
    padding: 0px 10px;
  }
    .footer-links a:hover {
    opacity: 1;
    transform:scale(1.2);
  }

.sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1030;
}


/*explicacion*/

.titulo-porcentajes {
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    margin: 0;
    background-color:crimson; 
    padding: 20px;
}

.espacio-titulo {
    color: white;
    height: 200px;
}

.espacios-porcentaje {
    margin: 30px 2px;
    height: 40px;
    padding: 5px 0px;
    
 }
 .texto-porcentaje {
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    margin-bottom: 0px;
 }
 .espacio-explicacion {
    background-color: white;
    display: flex;
    align-items: center;
    justify-items: center;
 }
 .explicacion {
     background-color: rgba(255,255,255,0.9);
     padding: 1.5rem;
     color: black;
     border-radius: 10px;
     margin-bottom: 2rem;
 }
.explicacion h3 {
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    padding-top: 30px;
    margin-bottom: 2rem;
    color: black;
    text-align: center;
    text-justify: auto;
 }
 .explicacion a {
    display: flex;
    justify-content: center;
 }

 /* dropup */ 

 /* Dropup Button */
.dropbtn {
    position: absolute;
    right: 0%;
    background: none;
    border: 0px;
    color: #0069D9;
    font-size: 18px;
}
.boton-info:hover {
    animation: pulse;
    animation-duration: 1s;
}

  
  /* The container <div> - needed to position the dropup content */
  .dropup {
    position: relative;
    display: inline-flex;
    width: 100%;
  }
  
  /* Dropup content (Hidden by Default) */
  .dropup-content {
    font-size: 0.8rem;
    color: black;
    display: none;
    position: absolute;
    bottom: 40px;
    right: -60%;
    background-color: rgba(255,255,255,0.95);
    min-width: 190px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 1rem;
    padding: 0.8rem;
  }
  
  /* Links inside the dropup */
  .dropup-content a {
    color: black;
    text-decoration: none;

  }
  
  /* Change color of dropup links on hover */
  .dropup-content a:hover {background-color: #ddd}
  
  /* Show the dropup menu on hover */
  .dropup:hover .dropup-content {
    display: block;
  }
  
  /* Change the background color of the dropup button when the dropup content is shown */
  .dropup:hover .dropbtn {
    background-color: white;
  }

.tarjeta {
    display: flex;
}

.tarjeta img {
    padding: 10px;
    position: relative;
    margin-right: 1rem;
    margin-top: 1rem;
}

.ticket {
    color:black;
    font-family: Lato;
    font-size: medium;
    padding: 15px;
    border-radius: 0px;
    margin: 30px;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
}


#botonMuestra {
    position: absolute;
    right: 42%;
}

option {
    background-color: white;
}

.progress {
    width: 60%;

}

.ampliar {
    animation-iteration-count: infinite;
}
.flechita {
    color: rgb(2, 2, 65);
    font-size: 2rem;
    display: none;
}
.mostrarFlechita {
    display: block;
}
.enverde {
    color: #008000;
}
